{% extends "network/layout.html" %}

{% block body %}
    <!-- create form with text field and submit button within a box -->
    <div style="padding: 20px;">
        <div class="card border">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="font-weight-bold">New Post</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
            <a href="#" class="btn btn-primary">Post</a>
            </div>
        </div>
    </div>

{% endblock %}