{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2 style="margin-left: 20px; margin-top: 20px;">Profile</h2>
    <div>
        <p> <div style="display: inline-block; font-weight: bold; margin-left: 20px">{{ no_posts }}</div> posts<div style="display: inline-block; font-weight: bold; margin-left: 20px">{{ followed_by }}</div> followers <div style="display: inline-block; font-weight: bold; margin-left: 20px">{{ following }}</div> following </p>
    </div>
    <br>
    
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 20px;">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Users</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Your Posts</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="padding: 20px;">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
             <!-- show all users except current user -->
            {% for user in users %}
             <div class="card" style="width: 20rem;">
                 <div class="card-body">
                 <h5 class="card-title" style="display: inline-block;">{{ user.0 }}</h5><a href={% url 'followUnfollow' user.0 user.1 %} class="btn btn-primary" id="followButton" style="display: inline-block; float: right;">
                     {% if user.1 %}Unfollow{% else %}Follow{% endif %}</a>
                 </div>
             </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <!-- create form with text field and submit button within a box -->
            {% if user.is_authenticated %}
                <form id="editForm" action="{% url 'post' %}" method="post" style="padding: 20px;">
                    {% csrf_token %}
                    <div class="card border">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="font-weight-bold">New Post</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="content" required></textarea>
                                <input class="btn btn-primary" id="postButton" onclick="savePost()" type="submit" value="Post" style="margin-top: 10px;">
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}

            <h2 style="margin-left: 20px; margin-top: 20px;">All Posts</h2>
            <!-- show all posts -->
            {% if no_posts > 0 %}
            <h3 style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px;">Posts made by you</h3>
                {% for post in posts %}
                <div style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px;">
                    <div class="card border" style="padding: 10px;">
                        <h5 class="card-title text-capitalize">{{ post.author }}</h5>
                        <a href="#" id="edit_post{{ forloop.counter0 }}" class="card-link" onclick = "editPost({{ post.id }})">Edit</a>
                        <div class="card-text" id="postContent{{ forloop.counter0 }}">{{ post.content }}</div>
                        <div class="text-muted">{{ post.created_at }}</div>
                        <div class="card-text">❤️{{ post.liked.count }}</div>
                    </div>
                </div>

                {% endfor %}
                <nav aria-label="Page navigation example">
                    <div class="pagination justify-content-center">
                        <span class="step-links">
                            {% if posts.has_previous %}
                                <a class="page-link" href="?page=1" style="display: inline-block">&laquo; first</a>
                                <a class="page-link"href="?page={{ posts.previous_page_number }}" style="display: inline-block">previous</a>
                            {% endif %}
                    
                            <span class="current" style="display: inline-block">
                                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                            </span>
                    
                            {% if posts.has_next %}
                                <a class="page-link" href="?page={{ posts.next_page_number }}" style="display: inline-block">next</a>
                                <a class="page-link" href="?page={{ posts.paginator.num_pages }}" style="display: inline-block">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </nav>
            {% else %}
                <h3 style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px;">No Posts made by you</h3>
            {% endif %}
        </div>
    </div>
    
    <script>
        // keep the posts tab active when user clicks on paginated buttons
        document.addEventListener("DOMContentLoaded", () => {

            window.onload = function () {
                const temp = localStorage.getItem('currentTab')
                if (temp === 'profile-tab'){
                    load_test()
                }
            }

            document.querySelector('.page-link').addEventListener('click', () => {
                localStorage.setItem('currentTab', 'profile-tab')
            });

            document.querySelector('#home-tab').addEventListener('click', () => {
                localStorage.removeItem('currentTab')
            })
        })

        function load_test() {
            ptab = document.querySelector('#profile-tab')
            ptab.classList.add('active')

            htab = document.querySelector('#home-tab')
            htab.classList.remove('active')

            ptabcontent = document.querySelector('#profile-tab-pane')
            ptabcontent.classList.add('show')
            ptabcontent.classList.add('active')
            

            htabcontent = document.querySelector('#home-tab-pane')
            htabcontent.classList.remove('show')
            htabcontent.classList.remove('active')
        }
    </script>
   
{% endblock %}

{% block script %}
    <script>
        var csrf = "{{ csrf_token }}"
    </script>
    <script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}